DEBUG = True
STORAGE_PATH = 'PATH TO LOCAL STORAGE'
TMP_PATH = 'PATH TO TEMPORARY STORAGE'
MAX_CONTENT_LENGTH = 1024 * 1024 * 16 # 16 MB maximum

# The types of files supported
SUPPORTED_FILE_TYPES = ['jpg', 'png', 'tiff', 'bmp']

# Name Generation Scheme
RANDOM_NAME = True

# Dropbox
DROPBOX_SUPPORT = True
DROPBOX_APP_KEY = 'dropbox app key here'
DROPBOX_APP_SECRET = 'app secret here'

# Celery
CELERY_BROKER_URL = 'amqp://guest:guest@localhost:5672//'
CELERY_RESULT_BACKEND = 'amqp://guest:guest@localhost:5672//'

# Mailgun
EMAIL_SUPPORT = True
MAILGUN_API_KEY = 'mailgun key'
MAILGUN_URL = 'https://api.mailgun.net/v2'
MAILGUN_DOMAIN = 'mailgun domain'
MAILGUN_FROM_ADDRESS = 'custom mailgun from address'

# Accepted Storage Locations
SUPPORTED_STORAGE_LOCATIONS = ['dropbox', 'local']

# RethinkDB
RETHINK_HOST = 'localhost'
RETHINK_PORT = 28015
RETHINK_DB = 'proctopus'
